<div class="container">
{{#each blogList as |blog| }}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Posted by: {{user.name}} on {{date_created}} </h6>
    <h6 class="card-subtitle mb-2 text-muted">Comments: {{comments.length}}</h6>
    {{!-- <p class="card-text">{{blog_text}}</p> --}}
    <a href="blog/{{id}}" class="card-link">Read more...</a>
  </div>
</div>
{{/each}}
</div>